
.cards-section {
    padding: 0;
    border: 1px solid #FFFFFF20;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 4px;
}

/** La liste des produits se fait sur deux lignes (35vh x 2) */
.product {
    border: 1px solid #FFFFFF20;
    position: relative;
    overflow: hidden;
    height: calc(35vh - 3px);
}

.blur {
    display: flex;
    align-items: center;
}

.blur p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blur .product-img {
    filter: blur(4px);
    border: none;
    background-color: transparent;
    width: 100%;
}

.blur .product-content {
    display: none;
}

/** Cards content */
.product-title {
    color: white;
    transition: color 0.2s ease-in-out;
    margin: 0;
}

.product:hover .product-title {
    color: #0bb0fcc5;
    transition: color 0.2s ease-in-out;
}

.product:hover {
    cursor: pointer;
}

.product:hover .product-content {
    transform: translateY(0);
}

.product-img {
    background-color: #232323;
    border-bottom: 1px solid #FFFFFF20;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 90px);
    padding: 1em;
}

.product-img img {
    height: 100%;
    width: auto;
}

.product-content {
    position: absolute;
    text-align: center;
    transform: translateY(45%);
    transition: transform 0.3s ease;
    bottom: 0;
    width: 100%;
    background-color: #171717;
    border-top: 1px solid #FFFFFF20;
}

.product-content-default {
    padding: 1em 0;
}

.product-content-hide {
    padding-bottom: 1em;
}

.product-collection, .product-size, .product-price {
    margin: 0;
}

.product-size ul {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 0;
    list-style-type: none;
    margin: 0;
}
.product-size ul li {
    border: 1px solid #FFFFFF20;
    padding: 5px 10px;
    border-radius: 10px;
}

.btn-active {
    background-color: white;
    color: #212529;
}

/** Features */
.flower {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 6px 0 0;
    font-size: 40px;
}

.corner {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #0bb0fcc5;
    bottom: 0;
    right: 0;
    z-index: 1;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.no-product {
    margin: 0 auto;
    padding-top: 1em;
}

.rarety {
    opacity: 0;
    position: absolute;
    background-color: #0bb0fcc5;
    font-size: 14px;
    color: black;
    padding: 5px 1.5em;
    border-radius: 0 0 20px 0;
    transition: opacity 0.3s ease;
}

.product:hover .rarety{
    opacity: 1;
    transition: opacity 0.3s ease;
}