.fullscreen-bg {
    position: relative;
    background: url('../img/Background/panier.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.fullscreen-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1; /* Assure que l'overlay est au-dessus du fond mais en dessous du contenu */
}

.form-container {
    position: absolute; /* Positionnement absolu pour un contrôle précis */
    top: 50%; /* Positionne le haut du formulaire à 50% du conteneur parent */
    left: 50%; /* Positionne le côté gauche du formulaire à 50% du conteneur parent */
    transform: translate(-50%, -50%); /* Centre le formulaire verticalement et horizontalement */
    z-index: 2;
    width: 600px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(84, 81, 81, 0.5);
    border-radius: 10px;
    color: white;
    text-align: center;
}



.toggle {
    display: flex; /* Utiliser flexbox */
    align-items: center; /* Centrer les éléments verticalement */
    justify-content: center; /* Centrer les éléments horizontalement */
    margin-bottom: 20px;
    position: relative;
}
.toggle button {
    background: none;
    border: none;
    color: rgba(84, 81, 81, 0.5);
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
}


.separator {
    width: 2px;
    height: 20px; /* Hauteur de la barre */
    background-color: white;
    margin: 0 10px; /* Espace autour de la barre */
}


.highlight {
    background-color: white;
    height: 3px;
    position: absolute;
    bottom: -3px; /* ajustement pour couvrir les boutons */
    transition: left 0.3s;
}


#signupForm {
    display: none;
}

#loginToggle.active {
    color: white;
}

#signupToggle.active {
    color: white;
}


.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Contour gris pour les champs de texte des formulaires de connexion et d'inscription */
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(84, 81, 81, 0.5); /* Contour gris */
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); /* Noir transparent */
    color: white;
    box-sizing: border-box;
}

.form-group input::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Couleur du texte de placeholder */
}

/* Ajout des classes .form-group pour connexion et inscription */
#loginForm .form-group input[type="text"],
#loginForm .form-group input[type="email"],
#loginForm .form-group input[type="password"],
#signupForm .form-group input[type="text"],
#signupForm .form-group input[type="email"],
#signupForm .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    padding-left: 25px;
    border: 1px solid rgba(84, 81, 81, 0.5); /* Contour gris */
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.5); /* Noir transparent */
    color: white;
    box-sizing: border-box;
}

#loginForm .form-group input::placeholder,
#signupForm .form-group input::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Couleur du texte de placeholder */
}




#loginForm input[type="email"],
#loginForm input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.5); /* Noir transparent */
    color: white;
    box-sizing: border-box;
}

/* Style pour le placeholder */
#loginForm input::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Couleur du texte de placeholder */
}

/* Styles précédents */

.forgot-password {
    text-align: center;
}

.forgot-password-link {
    color: rgba(128, 128, 128, 1); /* Couleur grise */
    text-decoration: underline;
}

/* Styles précédents */


.buttons button {
    border: 1px solid white;
    border-radius: 0 0 100px 100px;
    padding: 10px 70px !important;
    color: white;
    margin-top: 20px;
    margin-right: 10px;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3; /* Place la barre de navigation au-dessus du fond et de l'overlay */
}

.navbar-brand {
    margin-left: 50%; /* Centre le logo horizontalement */
    transform: translateX(-50%);
}

.navbar-nav {
    margin-left: auto; /* Aligne les éléments de la navbar à droite */
}

.custom-logo {
    margin-top: 10px; /* Ajustez cette valeur selon le décalage souhaité */
}

.custom-logo {
    position: relative;
    top: 30px; /* Ajustez cette valeur selon le décalage souhaité */
    right: 48%;
}


