/* footer.css */
.footer-button {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 100; /* Assurez-vous qu'il reste au-dessus des autres éléments */
    cursor: pointer;
}

.footer-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: white;
    border-radius: 50%; /* Rend le bouton rond */
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Optionnel : ajoute un effet d'ombre */
}


.bi-info-circle-fill {
    font-size: 1.5rem; /* Ajustez la taille de l'icône */
}

.footer-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px); /* Floute le fond derrière le modal */
    z-index: 50; /* Assurez-vous qu'il soit au-dessus de tout */
}

.footer-columns {
    display: flex;
    justify-content: center; /* Centre les colonnes au lieu de 'space-between' */
    align-items: start; /* Alignement vertical au début */
    width: 100%; /* Assure que les colonnes utilisent toute la largeur disponible */
    padding: 100px 150px; /* Ajoute de l'espacement aux deux extrémités */
}

.footer-column {
    flex: 1; /* Assure que chaque colonne prend un espace équivalent */
    padding: 0 10px; /* Espacement supplémentaire à l'intérieur de chaque colonne */
    display: flex;
    flex-direction: column;
}

.footer-column h4 {
    color: #FFF;
    margin-bottom: 20px;
}

.footer-column a {
    color: #CCC;
    text-decoration: none;
    margin: 15px 0;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #FFF;
}

.footer-content {
    border-top: 1px solid white ;
    border-left: 1px solid white ;
    border-right: 1px solid white ;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 70px 70px 0 0; /* Conservez vos arrondis définis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    height: 50%; /* Contrôle de la hauteur totale du footer */
    width: 80%;
    max-width: 1500px;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    justify-content: start; /* Assure que le contenu commence à s'aligner à partir du haut */
}

.close-btn {
    position: absolute; /* Positionnement absolu par rapport à son parent .footer-content */
    top: 10%; /* Espacement depuis le haut */
    left: 3%; /* Espacement depuis le côté droit */
    border: 1px solid white; /* Bordure blanche */
    background-color: transparent; /* Fond transparent */
    color: white; /* Couleur du texte (croix) blanche */
    width: 30px; /* Largeur du bouton */
    height: 30px; /* Hauteur du bouton */
    border-radius: 5px; /* Bordure arrondie pour un aspect circulaire */
    display: flex; /* Utilisation de Flexbox pour centrer l'icône */
    align-items: center; /* Centrage vertical de l'icône */
    justify-content: center; /* Centrage horizontal de l'icône */
    cursor: pointer; /* Curseur pointeur pour indiquer l'interactivité */
}

.close-btn:focus {
    outline: none; /* Supprime le contour lors du focus pour les utilisateurs clavier */
}

.bi-x-lg { /* Utilisez la classe correcte pour l'icône de croix */
    font-size: 0.5rem; /* Taille de l'icône */
}

@keyframes slideIn {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}

@keyframes slideOut {
    from { transform: translateY(0); }
    to { transform: translateY(100%); }
}

.footer-modal.showing{
    animation: slideIn 1s forwards; /* L'animation reste sur l'état final grâce à 'forwards' */
}

.footer-modal.closing {
    animation: slideOut 1s forwards; /* L'animation reste sur l'état final grâce à 'forwards' */
}
