body {
    background: url('../img/Background/panier.png') no-repeat fixed center center;
    background-size: cover; /* Cover ensures the image covers the whole screen /
    height: 100vh; / 100% of the viewport height /
    width: 100vw; / 100% of the viewport width */
}

.fullscreen-bg {
    position: relative;
    background: url('../img/Box/Box__flower_/GS_Box_Floral-1-4k.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.fullscreen-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Couleur semi-transparente noire */
}


.form-container {
    width: 1200px;
    margin: 100px auto;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.7); /* Transparence */
    border: 2px solid rgba(84, 81, 81, 0.5);
    border-radius: 10px;
    color: white;
    text-align: center;
}

.toggle {
    display: flex; /* Utiliser flexbox */
    align-items: center; /* Centrer les éléments verticalement */
    justify-content: center; /* Centrer les éléments horizontalement */
    margin-bottom: 20px;
    position: relative;
}
.toggle button {
    background: none;
    border: none;
    color: rgba(84, 81, 81, 0.5);
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
}


.separator {
    width: 2px;
    height: 20px; /* Hauteur de la barre */
    background-color: white;
    margin: 0 10px; /* Espace autour de la barre */
}


.highlight {
    background-color: white;
    height: 3px;
    position: absolute;
    bottom: -3px; /* ajustement pour couvrir les boutons */
    transition: left 0.3s;
}


#signupForm {
    display: none;
}

#loginToggle.active {
    color: white;
}

#signupToggle.active {
    color: white;
}


.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Contour gris pour les champs de texte des formulaires de connexion et d'inscription */
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(84, 81, 81, 0.5); /* Contour gris */
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); /* Noir transparent */
    color: white;
    box-sizing: border-box;
}

.form-group input::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Couleur du texte de placeholder */
}

/* Ajout des classes .form-group pour connexion et inscription */
#loginForm .form-group input[type="pseudo"],
#loginForm .form-group input[type="nom"],
#loginForm .form-group input[type="prenom"]{
    width: 115%; /*Taille champs*/
    padding: 10px;
    border: 1px solid rgba(84, 81, 81, 0.5); /* Contour gris */
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.5); /* Noir transparent */
    color: white;
    box-sizing: border-box;
}


#loginForm .form-group input[type="tel"]{
    width: 200%; /*Taille champs*/
    padding: 10px;
    border: 1px solid rgba(84, 81, 81, 0.5); /* Contour gris */
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.5); /* Noir transparent */
    color: white;
    box-sizing: border-box;
}

#loginForm .form-group input[type="mail"]{
    width: 180%; /*Taille champs*/
    padding: 10px;
    border: 1px solid rgba(84, 81, 81, 0.5); /* Contour gris */
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.5); /* Noir transparent */
    color: white;
    box-sizing: border-box;
}


#loginForm .form-group input[type="nomFigure"],
#loginForm .form-group input[type="rue"]{
    width: 90%; /*Taille champs*/
    padding: 10px;
    border: 1px solid rgba(84, 81, 81, 0.5); /* Contour gris */
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.5); /* Noir transparent */
    color: white;
    box-sizing: border-box;
}

#loginForm .form-group input[type="codepostal"],
#loginForm .form-group input[type="ville"],
#loginForm .form-group input[type="pays"]{
    width: 115%; /*Taille champs*/
    padding: 10px;
    border: 1px solid rgba(84, 81, 81, 0.5); /* Contour gris */
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.5); /* Noir transparent */
    color: white;
    box-sizing: border-box;
}

.buttons button {
    border: 1px solid white;
    border-radius: 0 0 100px 0;
    padding: 10px 70px !important;
    color: white;
    margin-top: 20px;
    margin-right: 10px;
}

#loginForm .form-group input::placeholder,
#signupForm .form-group input::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Couleur du texte de placeholder */
}




#loginForm input[type="email"],
#loginForm input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.5); /* Noir transparent */
    color: white;
    box-sizing: border-box;
}

/* Style pour le placeholder */
#loginForm input::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Couleur du texte de placeholder */
}

/* Styles précédents */

.forgot-password {
    text-align: center;
}

.forgot-password-link {
    color: rgba(128, 128, 128, 1); /* Couleur grise */
    text-decoration: underline;
}

/* Hide the default checkbox */
input[type="checkbox"] {
    display: none;
}

/* Create a custom checkbox */
input[type="checkbox"] + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
}

/* Create the round background with gray border */
input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border: 1px solid #a1a1a1; /* Gray border */
    border-radius: 50%;
    background-color: transparent;
}

/* Create the round checked indicator */
input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #a1a1a1; /* Black inner circle */
}
