@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

@font-face {
    font-family: 'Conthrax';
    src: url('../conthrax/conthrax-sb.otf') format('truetype');
}

body, html {
    font-family: 'Conthrax', sans-serif;
}



.navbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}

.navbar {
    background-color: transparent; /* Noir semi-transparent */
    padding: 22px 0 0 0; /* Ajustement de l'espacement autour des éléments de la navbar */
}

.navbar-nav{
    margin-left: 10%;
}

.navbar-brand img {
    height: 64px;
}

.navbar-header {
    left: 9%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 30;
}

.navbar-burger{
    margin-left: 3%;
}

.nav-link.nav-button {
    border: 1px solid white; /* Bordure blanche autour des boutons */
    border-radius: 0 100px 0 100px; /* Arrondis en haut à droite et en bas à gauche */
    padding: 10px 50px !important; /* Augmentation de l'espacement interne horizontal pour élargir le bouton */
    color: white; /* Couleur du texte */
    margin: 5px 25px; /* Marge entre les boutons */
}

.nav-link.nav-button:hover {
    background-color: white; /* Couleur de fond au survol */
    color: black; /* Couleur du texte au survol */
}

.icons{
    margin-right: 4%;
}

.bi:hover {
    color: white; /* Couleur du texte au survol */
}

.bi {
    font-size: 24px; /* Augmente la taille des icônes (ajustez selon vos besoins) */
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.8); /* Noir semi-transparent */
    z-index: 10; /* Toujours au-dessus des autres éléments */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 70px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    transform: translateX(-100%); /* Masqué par défaut */
}

.menu-content{
    top: 20%;
}

.menu-section {
    margin-bottom: 40px;
}

.menu-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.menu-subtitles {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-subtitles li {
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.menu-subtitles li:hover {
    opacity: 1; /* Changement d'opacité au survol */
}


.menu-overlay.show {
    transform: translateX(0); /* Affiché quand activé */
}

.menu-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-links li {
    margin-bottom: 20px;
}

.menu-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

.menu-links a:hover {
    color: #aaa; /* Changement de couleur au survol */
}

.cart-overlay {
    position: fixed;
    top: 100px; /* Positionnement vertical */
    right: 70px; /* Positionnement horizontal */
    width: 30%; /* Largeur du panier */
    height: 70%; /* Hauteur du panier */
    background-color: rgba(0, 0, 0, 0.8); /* Fond noir avec transparence */
    backdrop-filter: blur(10px); /* Effet de flou */
    border: 2px solid white; /* Bordure blanche */
    border-radius: 20px; /* Bords arrondis */
    z-index: 10000; /* Au-dessus des autres éléments */
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

.cart-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.cart-items-container {
    width: 100%;
    height: 65%;
    margin: 20px auto;
    padding: 10px;
    overflow-y: auto;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2); /* Fond transparent pour permettre le flou */
    backdrop-filter: blur(5px); /* Effet de flou plus prononcé */
    border: 1px solid rgba(128, 128, 128, 0.5); /* Bordure grise fine */
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.item-image img {
    width: 120px; /* Taille de l'image */
    height: 120px;
}

.item-details {
    flex-grow: 1;
    margin-left: 30px;
}

.item-name {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding-bottom: 10px;
}

.item-size, .item-price {
    font-family: "Montserrat", sans-serif ;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.item-details {
    flex-grow: 1;
    margin-left: 30px;
}

.quantity-delete-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-right: 10px; /* Espace entre le sélecteur de quantité et le bouton delete */
}

.quantity-button {
    background: none;
    border: none;
    color: transparent;
    cursor: pointer;
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
}

.minus {
    left: 0;
}

.plus {
    right: 0;
}

.quantity {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    font-size: 10px;
    color: white;
    font-weight: bold;
    z-index: -1;
    text-align: center;
    width: 100%;
}

.delete-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.delete-icon:hover {
    opacity: 1;
}

.item-price {
    font-family: 'Conthrax', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin: 0;
    position: absolute;
    right: 10px; /* Distance du bord droit */
    transform: translateY(-50%); /* Centrer verticalement */
    top: 50%;
}

.cart-subtotal {
    display: flex;
    justify-content: space-between; /* Espace entre le texte et le montant */
    align-items: center; /* Centre verticalement les éléments */
    padding: 5px 35px; /* Espacement au-dessus et en dessous */
    margin-top: 20px;
}

.sous-total-texte {
    font-size: 24px;
    color: white; /* Couleur blanche avec opacité */
    margin: 0;
}

.sous-total {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 0;
}


.cart-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.buttons-commander-panier {
    border: 1px solid white;
    border-radius: 0 0 100px 0;
    padding: 10px 50px;
    color: black;
    background-color: #FFF;
    font-size: 16px;
}

.buttons-commander-panier:hover {
    background-color: transparent !important;
    color: white !important;
}

.voir-panier-container {
    display: flex;
    justify-content: center; /* Centre le lien horizontalement */
    align-items: center; /* Centre le lien verticalement */
    margin-top: 20px; /* Ajoute un espace au-dessus */
    margin-bottom: 20px; /* Ajoute un espace en dessous */
}

.voir-panier {
    font-size: 14px;
    color: grey;
    text-decoration: underline; /* Supprime le soulignement par défaut */
    font-weight: bold;
    transition: color 0.3s ease; /* Effet de transition pour l'interaction */
}

.voir-panier:hover {
    color: white; /* Change la couleur au survol (doré, par exemple) */
    text-decoration: underline; /* Ajoute un soulignement au survol */
}




/* Bloc central */
.stock-modal {
    position: fixed;
    top: -100%; /* Commence en dehors de l'écran en haut */
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 90%;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    text-align: left;
    color: white;
    border: 1px solid gray;
    border-radius: 20px;
    overflow: auto;
    transition: top 0.5s ease; /* Transition pour l'animation */
}

/* Classe pour montrer la modale */
.stock-modal.show {
    display: block;
    top: 6%; /* La position finale souhaitée de la modale */
}



.stock-content {
    font-family: 'Conthrax', sans-serif;
    position: absolute; /* Positionnement absolu pour placer le texte */
    top: 0; /* Alignement en haut */
    left: 0; /* Alignement à gauche */
    width: 100%; /* Largeur à 100% */
    height: 100%; /* Hauteur à 100% */
    padding-left: 20px; /* Espacement à gauche pour le texte */
    padding-top: 50px; /* Espacement en haut pour le texte */
    color: white; /* Couleur du texte en blanc */
    z-index: 10; /* Assure que le texte est au-dessus du fond */
}


.close-stock-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white; /* Couleur du bouton de fermeture en blanc */
}

/* Conteneur pour les blocs */
.stock-boxes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligne les blocs en haut */
    align-items: center;
    height: calc(100% - 60px); /* Ajuste la hauteur en tenant compte du titre et du bouton de fermeture */
}


/* Styles pour les blocs rectangulaires */
.stock-box {
    display: flex;
    justify-content: space-between; /* Aligner les éléments à l'extrémité */
    align-items: center; /* Centrer verticalement */
    width: 75%;
    height: 22%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #3A3333FF;
    border-radius: 10px; /* Arrondi tous les coins */
    position: relative;
    overflow: hidden;
    margin-bottom: 23px; /* Espacement entre les blocs */
    padding: 10px; /* Espacement interne */
}

.stock-modal {
    position: fixed;
    top: -5%; /* Commence en dehors de l'écran en haut */
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    bottom: 13%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    text-align: left;
    color: white;
    border: 1px solid gray;
    border-radius: 20px;
    overflow: auto;
    transition: top 0.5s ease; /* Transition pour l'animation */
}

/* Classe pour montrer la modale */
.stock-modal.show {
    display: block;
    top: -5%; /* La position finale souhaitée de la modale */
    bottom: 13%;
}

.item-actions a p:hover {
    color: #A9A9A9 !important; /* Gris avec !important pour s'assurer qu'il prenne effet */
}

.checkout-btn:hover {
    background-color: #9DD3EE;
    color: white;
}

/* Styles de base pour les boutons */
.btn-zoom {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition pour l'effet de zoom et l'ombre */
}

/* Effet de zoom au survol */
.btn-zoom:hover {
    transform: scale(1.1); /* Zoom de 10% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombre portée pour plus d'effet */
    background-color: #FFF;

}

