/* navbar.css */
body, html {
    font-family: 'Exo', sans-serif; /* Applique la police Exo à tout le contenu du site */
}

.navbar {
    background-color: rgba(0, 0, 0, 0.3); /* Noir semi-transparent */
    padding: 10px 0; /* Ajustement de l'espacement autour des éléments de la navbar */
}

.navbar-brand img {
    height: 70px;
}

.navbar-header {
    top: 50%; /* Positionne le haut du logo au centre vertical de la navbar */
    transform: translateY(-50%); /* Décale le logo de -50% de sa propre hauteur pour centrer */
}

.nav-link.nav-button {

    border: 1px solid white; /* Bordure blanche autour des boutons */
    border-radius: 0 100px 0 100px; /* Arrondis en haut à droite et en bas à gauche */
    padding: 10px 70px !important; /* Augmentation de l'espacement interne horizontal pour élargir le bouton */
    color: white; /* Couleur du texte */
    margin: 5px 15px; /* Marge entre les boutons */
}

.nav-link.nav-button:hover {
    background-color: white; /* Couleur de fond au survol */
    color: black; /* Couleur du texte au survol */
}

.bi:hover {
    color: white; /* Couleur du texte au survol */
}

.bi {
    font-size: 24px; /* Augmente la taille des icônes (ajustez selon vos besoins) */
}

