@font-face {
    font-family: 'Conthrax';
    src: url('../conthrax/conthrax-sb.otf') format('truetype');
    /* Ajoutez d'autres variations de la police si nécessaire */
}

body, html {
    font-family: 'Conthrax', sans-serif;
}

.navbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.navbar {
    background-color: rgba(0, 0, 0, 0.3); /* Noir semi-transparent */
    padding: 10px 0; /* Ajustement de l'espacement autour des éléments de la navbar */
}

.navbar-brand img {
    height: 70px;
}

.navbar-header {
    top: 50%; /* Positionne le haut du logo au centre vertical de la navbar */
    transform: translateY(-50%); /* Décale le logo de -50% de sa propre hauteur pour centrer */
}

.nav-link.nav-button {

    border: 1px solid white; /* Bordure blanche autour des boutons */
    border-radius: 0 100px 0 100px; /* Arrondis en haut à droite et en bas à gauche */
    padding: 10px 70px !important; /* Augmentation de l'espacement interne horizontal pour élargir le bouton */
    color: white; /* Couleur du texte */
    margin: 5px 15px; /* Marge entre les boutons */
}

.nav-link.nav-button:hover {
    background-color: white; /* Couleur de fond au survol */
    color: black; /* Couleur du texte au survol */
}

.bi:hover {
    color: white; /* Couleur du texte au survol */
}

.bi {
    font-size: 24px; /* Augmente la taille des icônes (ajustez selon vos besoins) */
}

.cart-modal {
    position: fixed;
    right: -650px; /* Commence à l'extérieur de la vue */
    top: 10%;
    bottom: 0; /* Ajouté pour maintenir un espace de 20px du bas de la page */
    width: 650px; /* Largeur ajustée comme dans tes dernières spécifications */
    background: rgba(0, 0, 0, 0.9);
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 50px 0 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 3000;
    overflow-y: auto; /* Ajouté pour permettre le défilement si le contenu dépasse la hauteur */
    transition: right 0.5s ease; /* Ajoute une transition pour l'animation de slide */

}

.cart-title {
    color: white;
    font-size: 80px; /* Taille du texte pour le titre */
    margin: 0 0 20px 0; /* Marge en dessous du titre pour l'espacement */
    padding: 15px 10px; /* Padding pour ne pas coller sur les bords */
    text-align: left; /* Centre le texte */
}


.cart-content {
    color: white;
    flex-grow: 1; /* Assure que le contenu prend tout l'espace disponible */
}

.close-cart-btn {
    position: absolute; /* Positionnement absolu par rapport à son parent .footer-content */
    top: 10%; /* Espacement depuis le haut */
    right: 3%; /* Espacement depuis le côté droit */
    border: 1px solid white; /* Bordure blanche */
    background-color: transparent; /* Fond transparent */
    color: white; /* Couleur du texte (croix) blanche */
    width: 30px; /* Largeur du bouton */
    height: 30px; /* Hauteur du bouton */
    border-radius: 5px; /* Bordure arrondie pour un aspect circulaire */
    display: flex; /* Utilisation de Flexbox pour centrer l'icône */
    align-items: center; /* Centrage vertical de l'icône */
    justify-content: center; /* Centrage horizontal de l'icône */
    cursor: pointer; /* Curseur pointeur pour indiquer l'interactivité */
}

.bi-x-lg { /* Style pour l'icône de fermeture */
    font-size: 24px; /* Taille appropriée de l'icône */
}

.cart-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.0); /* Fond légèrement transparent pour intégrer le style de votre panier */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Bordure subtile */
    border-radius: 10px; /* Arrondir les coins */
    padding: 10px; /* Ajouter un peu d'espacement à l'intérieur */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce pour un effet de profondeur */
}

.item-image {
    width: 250px;
    height: 150px;
    margin-right: 10px;
}

.item-details h4, .item-details p {
    margin: 5px 0;
}

.item-actions button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: transparent;
    text-decoration: underline;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.item-actions button:hover {
    background-color: #555;
}

.checkout-btn {
    border: 1px solid white;
    border-radius: 0 0 100px 0; /* Bordure arrondie spécifique */
    padding: 10px 90px !important; /* Padding spécifique */
    color: white; /* Couleur du texte */
    background-color: transparent; /* Pour que le bouton reste seulement avec une bordure */
    cursor: pointer; /* Indique que le bouton est cliquable */
    margin-top: 40px; /* Espacement par rapport à l'élément au-dessus */
    margin-right: 10px; /* Espacement à droite */
    font-size: 16px; /* Taille de la police si nécessaire */
    width: auto; /* Ajuste la largeur automatiquement selon le contenu */
    display: block; /* Pour que le bouton prenne sa propre ligne */
    text-align: center; /* Pour centrer le texte dans le bouton */
}

.checkout-btn:hover {
    background-color: #fff; /* Changement de couleur au survol */
    color: black; /* Couleur du texte au survol */
}
