body {
    background: url('../img/Background/panier.png') no-repeat fixed center center;
    background-size: cover; /* Cover ensures the image covers the whole screen /
    height: 100vh; / 100% of the viewport height /
    width: 100vw; / 100% of the viewport width */
}

.fullscreen-bg {
    position: relative;
    background: url('../img/Box/Box__flower_/GS_Box_Floral-1-4k.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.fullscreen-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Couleur semi-transparente noire */
}


.form-container {
    width: 1200px;
    margin: 100px auto;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.7); /* Transparence */
    border: 2px solid rgba(84, 81, 81, 0.5);
    border-radius: 10px;
    color: white;
    text-align: center;
}

.toggle {
    display: flex; /* Utiliser flexbox */
    align-items: center; /* Centrer les éléments verticalement */
    justify-content: center; /* Centrer les éléments horizontalement */
    margin-bottom: 20px;
    position: relative;
}
.toggle button {
    background: none;
    border: none;
    color: rgba(84, 81, 81, 0.5);
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
}


.separator {
    width: 2px;
    height: 20px; /* Hauteur de la barre */
    background-color: white;
    margin: 0 10px; /* Espace autour de la barre */
}


.highlight {
    background-color: white;
    height: 3px;
    position: absolute;
    bottom: -3px; /* ajustement pour couvrir les boutons */
    transition: left 0.3s;
}


#signupForm {
    display: none;
}

#loginToggle.active {
    color: white;
}

#signupToggle.active {
    color: white;
}


.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Contour gris pour les champs de texte des formulaires de connexion et d'inscription */
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(84, 81, 81, 0.5); /* Contour gris */
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); /* Noir transparent */
    color: white;
    box-sizing: border-box;
}

.form-group input::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Couleur du texte de placeholder */
}

/* Ajout des classes .form-group pour connexion et inscription */
#loginForm .form-group input[type="pseudo"],
#loginForm .form-group input[type="nom"],
#loginForm .form-group input[type="prenom"]{
    width: 115%; /*Taille champs*/
    padding: 10px;
    border: 1px solid rgba(84, 81, 81, 0.5); /* Contour gris */
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.5); /* Noir transparent */
    color: white;
    box-sizing: border-box;
}


#loginForm .form-group input[type="tel"]{
    width: 200%; /*Taille champs*/
    padding: 10px;
    border: 1px solid rgba(84, 81, 81, 0.5); /* Contour gris */
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.5); /* Noir transparent */
    color: white;
    box-sizing: border-box;
}

#loginForm .form-group input[type="mail"]{
    width: 180%; /*Taille champs*/
    padding: 10px;
    border: 1px solid rgba(84, 81, 81, 0.5); /* Contour gris */
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.5); /* Noir transparent */
    color: white;
    box-sizing: border-box;
}


#loginForm .form-group input[type="nomFigure"],
#loginForm .form-group input[type="rue"]{
    width: 90%; /*Taille champs*/
    padding: 10px;
    border: 1px solid rgba(84, 81, 81, 0.5); /* Contour gris */
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.5); /* Noir transparent */
    color: white;
    box-sizing: border-box;
}

#loginForm .form-group input[type="codepostal"],
#loginForm .form-group input[type="ville"],
#loginForm .form-group input[type="pays"]{
    width: 115%; /*Taille champs*/
    padding: 10px;
    border: 1px solid rgba(84, 81, 81, 0.5); /* Contour gris */
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.5); /* Noir transparent */
    color: white;
    box-sizing: border-box;
}

.buttons button {
    border: 1px solid white;
    border-radius: 0 0 100px 0;
    padding: 10px 70px !important;
    color: white;
    margin-top: 20px;
    margin-right: 10px;
}

#loginForm .form-group input::placeholder,
#signupForm .form-group input::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Couleur du texte de placeholder */
}




#loginForm input[type="email"],
#loginForm input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.5); /* Noir transparent */
    color: white;
    box-sizing: border-box;
}

/* Style pour le placeholder */
#loginForm input::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Couleur du texte de placeholder */
}

/* Styles précédents */

.forgot-password {
    text-align: center;
}

.forgot-password-link {
    color: rgba(128, 128, 128, 1); /* Couleur grise */
    text-decoration: underline;
}

.rectangle {
    display: flex;
    align-items: center;
    margin-left: 42%;
    margin-top: 2%;
    width: 1090px; /* Ajustez la largeur des rectangles selon vos besoins */
    height: auto;
    background: rgba(0, 0, 0, 0.8); /* Black with transparency */
    border-radius: 15px; /* Rounded corners */
    margin-bottom: 20px; /* Space between the rectangles */
    padding: 20px; /* Padding inside the rectangles */
    color: #fff; /* White text color */
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.item-image {
    margin-right: 20px; /* Ajoute de l'espace entre l'image et le texte */
    width: auto; /* Assurez-vous que la largeur est automatique pour conserver les proportions */
    height: 100px; /* Ajustez la hauteur de l'image selon vos besoins */
}

.overlay-rectangles {
    position: absolute;
    top: 50%; /* Centers the rectangles vertically */
    left: 50%; /* Centers the rectangles horizontally */
    transform: translate(-50%, -50%); /* Corrects the position due to centering */
    z-index: 3; /* Ensure the rectangles are above the overlay but below other content if needed */
    display: flex;
    flex-direction: column;
    align-items: center;
}



.rectangle h2 {
    margin-top: 0;
    font-size: 24px;
}

.rectangle p {
    margin: 5px 0;
}

.rectangle select {
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding-right: 50px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Ajoutez une image personnalisée pour la flèche vers le bas */
    background: url("../img/Box/flechebas.png") no-repeat;
    background-position: right 18px center; /* Ajustez la position de l'image */
    background-size: 25px auto; /* Augmentez la taille de l'image */
}



.rectangle select option {
    background: #000; /* Black background for the dropdown options */
    color: #fff; /* White text color for the dropdown options */
}

.rectangle select::-ms-expand {
    display: none; /* Remove the default dropdown arrow for Internet Explorer */
}

.white-bar {
    color: #fff; /* Couleur du texte blanc */
}

.croix-panier {
    position: absolute;
    top: 10px; /* Ajustez la position verticale de la croix */
    left: 10px; /* Ajustez la position horizontale de la croix */
    width: 20px; /* Ajustez la largeur de la croix selon vos besoins */
    height: auto; /* Garantit que la hauteur est ajustée proportionnellement à la largeur */
    z-index: 4; /* Assurez-vous que la croix est au-dessus des autres éléments */
}

