@font-face {
    font-family: 'Conthrax';
    src: url('../conthrax/conthrax-sb.otf') format('truetype');
    /* Ajoutez d'autres variations de la police si nécessaire */
}


body, html {
    font-family: 'Conthrax', sans-serif;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none; /*flex=afficher none=cacher*/
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Ignorer les clics pour cette image */
    overflow: hidden;
    z-index: 999;
}

.fullscreen-overlay img {
    width: 100%;
    height: 100%;
}

.fullscreen-bg {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/Background/panier.png') no-repeat center center;
    background-size: cover; /* Cover ensures the image covers the whole screen */
    height: 100vh; /* 100% of the viewport height */
    width: 100vw; /* 100% of the viewport width */
    z-index: -1;
}

.fullscreen-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
    z-index: 1; /* Ensures the overlay is above the background image but below the content */
}

/* Style pour le composant parent */
.parent-component {
    margin: 130px 180px;
}

/* Style pour le titre */
.title {
    padding: 0 0 10px 0;
    font-size: 85px;
    color: white;
    margin-left: -8% ;
}

/* Conteneur des sous-composants */
.child-container {
    display: flex;
    justify-content: space-between;
    gap: -10px; /* Espace entre les deux composants */
}

/* Style pour les sous-composants */
.child-component {
    flex: 1; /* Permet d'occuper un espace égal pour chaque composant */
    text-align: center; /* Pour centrer le contenu (optionnel) */
}

.child-one {
    margin-left: -8%;
    flex: 0 0 90%;
    overflow-y: auto; /* Permet de scroller si nécessaire */
}

.child-two {
    margin-left: -5%;
    flex: 0 0 40%;
    overflow-y: auto; /* Permet de scroller si nécessaire */
}

.child-one .item-container{
    width: 90%;
    height: 180px;
}


.parent-component .item-name{
    font-size: 25px;
    margin-left: -50%;
}

.parent-component  .item-size{
    font-size: 17px;
    margin-left: -92%;
    font-weight: bold;
    color: white;
}

.parent-component .item-options {
    display: flex;
    gap: 20px;
}

.parent-component .item-options p {
    margin: 0;
}

.parent-component .item-options select {
    background: transparent;
    color: #fff;
    border: none;
    padding: 5px;
    padding-right: 20px;
    appearance: none;
    background: url('../img/Box/flechebas.png') no-repeat left 20px center;
    background-size: 25px;
}

.parent-component .item-options select option {
    background: #000;
    color: #fff;
}

.parent-component .quantity-delete-container{
    margin-top: -0.4%;
    margin-left: -3%;
}

.parent-component .quantity-selector{
    margin-left: -1%;
    margin-top: -0.4%;
}

.parent-component .item-price{
    font-size: 20px;
    margin-right: 2%;
}

.parent-component .item-name2{
    font-size: 31px !important;
    margin-top: 4%;
    margin-right: -10%;
}

.parent-component .sous-item-name2{
    font-size: 19px;
    margin-right: -32% !important;
    margin-top: 6%;
}

.parent-component .item-size2{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-right: -16% !important;
    margin-top: 6%;
}

.parent-component .item-size3{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-right: -16% !important;
    margin-top: 2%;
}

.parent-component .item-size4{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-right: -14% !important;
    margin-top: 3%;
    font-weight: bold;
}

.parent-component .item-size5{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-right: -7% !important;
    margin-top: 2%;
}

.parent-component .blocfinalpanier{
    margin-top: -2% !important;
    margin-left: 1.5%;
}

.parent-component .checkbox-container {
    display: flex;
    flex-direction: column; /* Alignement vertical */
    align-items: flex-start; /* Aligner le texte à gauche */
    gap: 5px; /* Petit espace entre les lignes du texte */
}

.parent-component .checkbox {
    position: relative;
    width: 24px; /* Augmentation de la taille */
    height: 24px; /* Augmentation de la taille */
    border: 1px solid #000;
    display: inline-block; /* Utiliser display: inline-block; pour aligner horizontalement */
}

.parent-component .checkbox::before {
    content: '';
    width: 12px; /* Augmentation de la taille du carré blanc */
    height: 12px; /* Augmentation de la taille du carré blanc */
    background-color: white;
    border: 1px solid #000;
    position: absolute;
    top: 5px;
    left: 5px;
    display: none;
}

.parent-component .checkbox input:checked::before {
    display: block;
}

.parent-component .text {
    color: gray;
    font-size: 13px;
    white-space: pre-wrap; /* Permet le retour à la ligne automatiquement */
    display: inline-block; /* Pour forcer l'affichage horizontal */
}

.parent-component .text:nth-child(2) {
    margin-top: 2px; /* Espacement ajusté entre les deux lignes de texte */
}

.parent-component .promo-code-section {
    margin-top: -8%;
    margin-left: 90%;
}

.parent-component .toggle-promo-code {
    background-color: black;
    border: 1px solid transparent;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: -7%;
    margin-top: -20%;
    color: grey;
}

.parent-component .promo-code-input {
    display: none; /* Caché par défaut */
    padding: 10px;
    border: 1px solid gray;
    border-radius: 100px 100px 100px 100px;
    margin-top: 20%;
    margin-left: -950% !important;
    background-color: transparent;
    width: 350px;
    color: #FFF; /* Couleur du texte en blanc */
}

.parent-component .btnCommander2{
    border-radius: 0 0 100px 0;
    margin-left: -48%;
    margin-top: 6%;
    margin-bottom: 5%;
    background-color: white;
    color: black;
    padding: 10px 40px; /* Augmenter les marges pour rendre le bouton plus grand */
    font-size: 15px; /* Ajuster la taille de la police */
    border: 1px solid transparent; /* Si nécessaire */
    cursor: pointer; /* Afficher une main lors du survol */
}

.parent-component .btnCommander2:hover {
    background-color: black; /* Fond rouge au survol */
    color: white; /* Texte blanc pour le contraste */
    border: 1px solid white; /* Contour blanc au survol */
}



.parent-component .btnCommander3{
    border-radius: 0 0 100px 0;
    margin-left: -930%;
    margin-top: 56%;
    background-color: black;
    color: white;
    padding: 10px 40px; /* Augmenter les marges pour rendre le bouton plus grand */
    font-size: 16px; /* Ajuster la taille de la police */
    border: 1px solid #FFF; /* Si nécessaire */
    cursor: pointer; /* Afficher une main lors du survol */
}

.parent-component .btnCommander3:hover {
    background-color: #FFF; /* Fond rouge au survol */
    color: black; /* Texte blanc pour le contraste */
    border: 1px solid black; /* Contour blanc au survol */
}

.parent-component .quantity-display {
    font-size: 13px;
    width: 40px; /* Ajustez la largeur pour bien centrer */
    height: 40px; /* Ajoutez une hauteur pour un carré parfait */
    line-height: 40px; /* Assurez un centrage vertical */
    text-align: center; /* Centrage horizontal */
    border: 1px solid transparent; /* Optionnel, pour une bordure visible */
    border-radius: 5px; /* Ajoutez des coins arrondis */
    color: #FFF; /* Couleur du texte */
    display: inline-block; /* Assurez que l'élément prend la largeur/hauteur définie */
    margin: 0 28px; /* Ajoutez un espace autour si nécessaire */
    box-sizing: border-box; /* Inclut la bordure et le padding dans les dimensions */
}


.parent-component .checkbox-container {
    display: flex;
    flex-direction: row; /* Met en ligne au lieu d'une colonne */
    align-items: center; /* Aligne verticalement au centre */
    gap: 10px; /* Espace horizontal entre la checkbox et le texte */
}


.textcheckB{
    margin-left: -4%;
    margin-bottom: -2%;
}

.item-details{
    margin-bottom: -3%;
}

.parent-component .item-options select {
    background: transparent;
    color: #fff;
    border: none;
    padding: 5px;
    padding-right: 40px;
    appearance: none;
    background: url('../img/Box/flechebas.png') no-repeat right 20px center;
    background-size: 25px;
}

