@font-face {
    font-family: 'Conthrax';
    src: url('../conthrax/conthrax-sb.otf') format('truetype');
    /* Ajoutez d'autres variations de la police si nécessaire */
}


body, html {
    font-family: 'Conthrax', sans-serif;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex; /*flex=afficher none=cacher*/
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Ignorer les clics pour cette image */
    overflow: hidden;
    z-index: 999;
}

.fullscreen-overlay img {
    width: 100%;
    height: 100%;
}

.fullscreen-bg {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/Background/panier.png') no-repeat center center;
    background-size: cover; /* Cover ensures the image covers the whole screen */
    height: 100vh; /* 100% of the viewport height */
    width: 100vw; /* 100% of the viewport width */
    z-index: -1;
}

.fullscreen-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
    z-index: 1; /* Ensures the overlay is above the background image but below the content */
}

/* Style pour le composant parent */
.parent-component {
    margin: 170px 180px;
}

/* Style pour le titre */
.title {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 85px;
    color: white;
}

/* Conteneur des sous-composants */
.child-container {
    display: flex;
    justify-content: space-between;
    gap: -10px; /* Espace entre les deux composants */
}

/* Style pour les sous-composants */
.child-component {
    flex: 1; /* Permet d'occuper un espace égal pour chaque composant */
    text-align: center; /* Pour centrer le contenu (optionnel) */
}

.child-one {
    flex: 0 0 70%;
    overflow-y: auto; /* Permet de scroller si nécessaire */
}

.child-two {
    flex: 0 0 38.5%;
    overflow-y: auto; /* Permet de scroller si nécessaire */
}

.child-one .item-container{
    width: 90%;
    height: 180px;
}


.item-name{
    font-size: 25px;
    margin-left: -50%;
}

.item-size{
    font-size: 17px;
    margin-left: -92%;
    font-weight: bold;
    color: white;
}

.item-options {
    display: flex;
    gap: 20px;
}

.item-options p {
    margin: 0;
}

.item-options select {
    background: transparent;
    color: #fff;
    border: none;
    padding: 5px;
    padding-right: 20px;
    appearance: none;
    background: url('../img/Box/flechebas.png') no-repeat left 20px center;
    background-size: 25px;
}

.item-options select option {
    background: #000;
    color: #fff;
}

.quantity-delete-container{
    margin-top: -0.4%;
    margin-left: -3%;
}

.quantity-selector{
    margin-left: -1%;
    margin-top: -0.4%;
}

.item-price{
    font-size: 20px;
    margin-right: 2%;
}

.item-name2{
    font-size: 31px !important;
    margin-top: 4%;
}

.sous-item-name2{
    font-size: 19px;
    margin-right: -12% !important;
    margin-top: 6%;
}

.item-size2{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-right: -16% !important;
    margin-top: 6%;
}

.item-size3{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-right: -16% !important;
    margin-top: 2%;
}

.item-size4{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-right: -12% !important;
    margin-top: 3%;
    font-weight: bold;
}

.item-size5{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-right: -9% !important;
    margin-top: 2%;
}

.blocfinalpanier{
    margin-top: -2% !important;
    margin-left: 1.5%;
}

.checkbox-container {
    display: flex;
    flex-direction: column; /* Alignement vertical */
    align-items: flex-start; /* Aligner le texte à gauche */
    gap: 5px; /* Petit espace entre les lignes du texte */
}

.checkbox {
    position: relative;
    width: 24px; /* Augmentation de la taille */
    height: 24px; /* Augmentation de la taille */
    border: 1px solid #000;
    display: inline-block; /* Utiliser display: inline-block; pour aligner horizontalement */
}

.checkbox::before {
    content: '';
    width: 12px; /* Augmentation de la taille du carré blanc */
    height: 12px; /* Augmentation de la taille du carré blanc */
    background-color: white;
    border: 1px solid #000;
    position: absolute;
    top: 5px;
    left: 5px;
    display: none;
}

.checkbox input:checked::before {
    display: block;
}

.text {
    color: gray;
    font-size: 13px;
    white-space: pre-wrap; /* Permet le retour à la ligne automatiquement */
    display: inline-block; /* Pour forcer l'affichage horizontal */
}

.text:nth-child(2) {
    margin-top: 2px; /* Espacement ajusté entre les deux lignes de texte */
}

.promo-code-section {
    margin-top: -8%;
    margin-left: 90%;
}

.toggle-promo-code {
    background-color: black;
    border: 1px solid transparent;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: -87%;
    color: #FFF;
}

.promo-code-input {
    display: none; /* Caché par défaut */
    padding: 10px;
    border: 1px solid gray;
    border-radius: 100px 100px 100px 100px;
    margin-top: 20%;
    margin-left: -920% !important;
    background-color: transparent;
    width: 500px;
    color: #FFF; /* Couleur du texte en blanc */
}

.btnCommander2{
    border-radius: 0 0 100px 0;
    margin-left: -55%;
    margin-top: 6%;
    background-color: white;
    color: black;
    padding: 10px 40px; /* Augmenter les marges pour rendre le bouton plus grand */
    font-size: 16px; /* Ajuster la taille de la police */
    border: 1px solid transparent; /* Si nécessaire */
    cursor: pointer; /* Afficher une main lors du survol */
}

.btnCommander3{
    border-radius: 0 0 100px 0;
    margin-left: -900%;
    margin-top: 56%;
    background-color: black;
    color: white;
    padding: 10px 40px; /* Augmenter les marges pour rendre le bouton plus grand */
    font-size: 16px; /* Ajuster la taille de la police */
    border: 1px solid #FFF; /* Si nécessaire */
    cursor: pointer; /* Afficher une main lors du survol */
}