/* accueil.css */
@font-face {
    font-family: 'Conthrax';
    src: url('../conthrax/conthrax-sb.otf') format('truetype');
}

body, html {
    font-family: 'Conthrax', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: url('../img/Background/panier.png') no-repeat fixed center center;
    background-size: cover; /* Cover ensures the image covers the whole screen */
    height: 100vh; /* 100% of the viewport height */
    width: 100vw; /* 100% of the viewport width */
    scrollbar-color: #95c2d9 black;
    scroll-snap-type: y mandatory;
}


.social-icons {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
}

.social-icons a {
    display: block;
    margin: 10px 0;
    color: white;
    font-size: 24px;
}

.social-icons a:hover {
    color: #ccc;
}

.content {
    position: absolute;
    top: 40%; /* Adjusted as per your requirement */
    left: 10%; /* Text aligned to the left */
    color: white; /* Assuming you want white text */
    font-size: 2rem; /* Adjust the size as needed */
    z-index: 10; /* Make sure it's above the background image */
    align-items: center;
}

.content2 {
    position: absolute;
    top: 40%; /* Adjusted as per your requirement */
    width: 55%;
    right: 0; /* Text aligned to the left */
    color: white; /* Assuming you want white text */
    font-size: 2rem; /* Adjust the size as needed */
    z-index: 10; /* Make sure it's above the background image */
    align-items: center;
}

.content3{
    position: absolute;
    top: 12%; /* Adjusted as per your requirement */
    width: 55%;
    left: 5%; /* Text aligned to the left */
    color: white; /* Assuming you want white text */
    font-size: 2rem; /* Adjust the size as needed */
    z-index: 10; /* Make sure it's above the background image */
    align-items: center;

}

.content4{
    position: absolute;
    top: 45%; /* Adjusted as per your requirement */
    width: 55%;
    left: 5%; /* Text aligned to the left */
    color: white; /* Assuming you want white text */
    font-size: 2rem; /* Adjust the size as needed */
    z-index: 10; /* Make sure it's above the background image */
    align-items: center;

}

.content4 .sous-texte {
    font-size: 15px;
    font-family: Arial, serif;
    font-weight: 300;
    margin: 20px 0; /* Espacement vertical sans affecter la largeur */
    width: 70%;
    text-align: justify;
    text-justify: inter-word;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.image-wrapper {
    width: 100%;
    max-width: 300px;
    position: relative;
    margin: auto;
    padding-top: 65%; /* 4:5 ratio (height is 125% of width) */
    overflow: hidden; /* Ensure image stays within the bounds */
}
.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container without distortion */
}

.heading-container {
    display: inline-block; /* Centre le bloc dans son parent */
    text-align: left; /* Alignement du texte à gauche dans le bloc */
    max-width: 100%; /* Empêche le bloc de dépasser la largeur de son parent */
    width: 80%; /* Permet au bloc de rétrécir pour s'adapter au contenu */
}

.buttons button {
    border: 1px solid white;
    border-radius: 0 0 100px 0;
    padding: 10px 35px !important;
    color: white;
    margin-top: 20px;
    margin-right: 10px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 0; /* Supprime les marges par défaut pour un contrôle précis */
}

.sous-texte-image {
    color: #cccccc;
    font-size: 15px;
    font-family: Arial, serif;
    font-weight: 300;
    margin: 20px 0; /* Espacement vertical sans affecter la largeur */
    width: 50%;
    text-align: justify;
    text-justify: inter-word;
}


.shirt-container {
    position: absolute;
    width: 40%; /* Ajuste selon besoin */
    height: 100vh;
    top: 48%; /* Positionne le conteneur à 50% de la hauteur de l'écran */
    right: 10%;
    transform: translateY(-50%); /* Centre verticalement en ajustant par rapport à son propre milieu */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Cache les parties non visibles */
}

.shirt-container video {
    width: 100%; /* Vidéo occupera 100% de la largeur */
    height: 100%; /* Vidéo occupera 100% de la hauteur */
    object-fit: cover; /* Assure que la vidéo couvre tout le conteneur */
    display: block;
}

.youtube-video {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Permet de positionner l'élément précisément */
    top: 50%; /* Place l'élément au milieu verticalement */
    left: 10%; /* Le positionne à 15% de la gauche */
    transform: translateY(-50%); /* Centre verticalement l'élément en ajustant pour la moitié de sa hauteur */
}

.box-image {
    position: absolute;
    width: 60%; /* Ajuste selon la taille de tes images */
    height: auto;
    top: 20%;
    right: 0;
}

.box-image img{
    width: 100%;
    height: auto;
    display: block;

}

.section {
    scroll-snap-align: start;
    width: 100vw; /* 100% de la largeur de la fenêtre de visualisation */
    height: 100vh; /* 100% de la hauteur de la fenêtre de visualisation */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* position relative pour le positionnement des enfants si nécessaire */
}
.carousel-container { /* Styles spécifiques pour le conteneur du carousel */
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.carousel-container {
    position: absolute;
    right: -10%; /* Ajuste cette valeur pour le déplacer plus à droite */
}


.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-container .carousel .carousel-item {
    text-align: center;
    margin: 0 10px;
    width: 300px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    display: block;
}

.carousel-item img {
    max-width: 100%;
    border-radius: 10px;
}

.carousel-item h2, .carousel-item p {
    color: #fff;
}

.carousel-item:not(.selected) {
    filter: grayscale(100%);
    transform: scale(0.8);
}

.carousel-item.selected {
    transform: scale(1);
}

.strasbourg {
    color: rgba(255, 255, 255, 1); /* Blanc léger */
    font-weight: bold;
}

.entrepreneurs {
    color: rgba(255, 255, 255, 1); /* Blanc plus fort */
    font-weight: bold;
}

.awards {
    color: rgba(255, 255, 255, 1); /* Blanc plus fort */
    font-weight: bold;
}


.btn-precommander {
    background-color: white;
    color: black !important;
    font-weight: bold;
}

.btn-precommander:hover {
    background-color: #9DD3EE;
    color: black !important;
}

.btn-savoirplus {
    background-color: white;
    color: black !important;
    font-weight: bold;
}

.btn-savoirplus:hover {
    background-color: black;
    color: white !important;
}

.btn-commander {
    background-color: white;
    color: black !important;
    font-weight: bold;
}

.btn-commander:hover {
    background-color: black;
    color: white !important;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.section {
    scroll-snap-align: start;
    width: 100vw; /* 100% de la largeur de la fenêtre de visualisation */
    height: 100vh; /* 100% de la hauteur de la fenêtre de visualisation */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* position relative pour le positionnement des enfants si nécessaire */
}

.sectionF.slide-in {
    animation: slideInFromLeft 2s ease-out forwards;
    /* Adjust the duration (1s) and timing function (ease-out) as needed */
}

html, body {
    overflow-x: hidden;
}

.svg-overlay {
    position: absolute;
    bottom: 0; /* Positionner en haut */
    left: 0; /* Positionner à gauche */
    z-index: 0; /* Assurez-vous qu'il est au-dessus du contenu */
    width: 100%; /* Occupe toute la largeur de l'écran */
    height: 100vh; /* Occupe toute la hauteur de l'écran */
}

.svg-overlay img {
    width: 100%; /* L'image SVG occupera toute la largeur de son conteneur */
    height: 100%; /* L'image SVG occupera toute la hauteur de son conteneur */
    object-fit: cover; /* L'image couvrira le conteneur sans déformer */
}

.sous-texte {
    padding-left: 50px; /* Ajuste selon besoin ou supprime si non nécessaire */
    font-size: 12px;
    font-family: Arial, serif;
    font-weight: 300;
    margin: 20px 0; /* Espacement vertical sans affecter la largeur */
    width: 80%;
    text-align: justify;
    text-justify: inter-word;
    color: lightgray;
}

.btn-custom {
    font-size: 12px;
    border: 1px solid white;
    border-radius: 0 0 100px 0;
    padding: 10px 60px;
    color: white;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom:hover, .btn-custom:focus {
    background-color: #95c2d9; /* Couleur de fond au survol */
    color: white; /* Couleur du texte au survol */
}

.social-icons {
    opacity: 1; /* Par défaut, les icônes sont visibles */
    transition: opacity 0.5s ease-out;
}

.social-icons.hide {
    opacity: 0; /* Rend les icônes invisibles */
    pointer-events: none; /* Empêche toute interaction avec les icônes lorsqu'elles sont invisibles */
}



