@font-face {
    font-family: 'Conthrax';
    src: url('../conthrax/conthrax-sb.otf') format('opentype');
    font-weight: 1;
}

body, html {
    font-family: 'Conthrax', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

.social-icons {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
}

.social-icons a {
    display: block;
    margin: 10px 0;
    color: white;
    font-size: 24px;
}

.social-icons a:hover {
    color: #ccc;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: flex-end; /* Alignement du contenu à droite */
    align-items: center;
    text-align: left; /* Alignement du texte à droite */
    padding: 0 100px; /* Ajouter un padding pour éviter que le contenu soit trop collé au bord */
}

.image-section {
    background: url('../img/Shooting photos/Shooting Photo/Photoshoot_format_Back/ImageFemme.png') no-repeat center center;
    background-size: cover;
}

.color-section {
    background-color: #171717;
}

.content1 {
    width: 100%; /* Utiliser toute la largeur disponible */
    max-width: 600px; /* Limite maximale de largeur */
    color: white;
}

.buttons button {
    border: 1px solid white;
    border-radius: 0 100px 0 100px;
    padding: 10px 90px;
    margin-top: 20px;
}

h1 {
    font-size: 4vw; /* Taille du texte relative à la largeur de l'écran */
    font-weight: 700;
    margin: 0; /* Supprime les marges par défaut pour un contrôle précis */
}
