@font-face {
    font-family: 'Conthrax';
    src: url('../conthrax/conthrax-sb.otf') format('opentype');
    font-weight: 1;
}

body, html {
    font-family: 'Conthrax', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: url('../img/Shooting photos/Shooting Photo/Photoshoot_format_Back/ImageFemme.png') no-repeat fixed center center;
    background-size: cover; /* Cover ensures the image covers the whole screen */
    height: 100vh; /* 100% of the viewport height */
    width: 100vw; /* 100% of the viewport width */
    scrollbar-color: #95c2d9 black;
    scroll-snap-type: y mandatory;
}

.social-icons {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
}

.social-icons a {
    display: block;
    margin: 10px 0;
    color: white;
    font-size: 24px;
}

.social-icons a:hover {
    color: #ccc;
}

.content2 {
    position: absolute;
    top: 40%; /* Adjusted as per your requirement */
    left: 50%; /* Text aligned to the left */
    color: white; /* Assuming you want white text */
    font-size: 2rem; /* Adjust the size as needed */
    z-index: 10; /* Make sure it's above the background image */
    align-items: center;
}


.buttons button {
    border: 1px solid white;
    border-radius: 0 100px 0 100px;
    padding: 10px 90px !important;
    margin-top: 20px;
    margin-right: 10px;
}

h1 {
    font-size: 80px;
    font-weight: 700;
    margin: 0; /* Supprime les marges par défaut pour un contrôle précis */
}


